{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}} {{/each}} {{#if categories}}
<div class="card card-body">
  <form action="/notes/add/category/" method="post">
    <h6>Please Choose one of the categories for the note</h6>
    <select name="category">
      {{#each categories}}
      <option value="{{title}}">{{title}}</option>
      {{/each}}
    </select>
    <input type="submit" class="btn teal" value="Next">
  </form>

</div>


{{/if}} {{#if Topics}}

<div class="input-field col s12">
  <select>
    <option value="" disabled selected>Choose A Topic for your Note</option>
    {{#each Topics}}
    <option value="{{title}}">{{title}}</option>
    {{/each}}
  </select>
  <div class="row">
    <div class="input-field col s12">
      <input id="title" type="text" class="validate">
      <label for="title">Title</label>
    </div>
    
  </div>
  <div class="row">
        <div class="input-field col s12">
          <textarea id="body" class="materialize-textarea"></textarea>
          <label for="body">Body</label>
        </div>
      </div>

  {{/if}}

  