<link rel="stylesheet" type="text/css" href="/css/addNew.css">

{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{/each}}

{{#if categories}}
<div class="notes">
    <div class="addNote">
      <div>
        <h3 class="addNoteTitle">Add A New Note</h3>
      </div>

      <form action="/notes/add/category/" method="post">
        <h3>Choose a Category</h3>
        <select name="category">
          {{#each categories}}
          <option value="{{title}}">{{title}}</option>
          {{/each}}
        </select>
        <input type="submit" class="nextBtn" value="Next">
      </form>
    </div>
</div>
{{/if}}

{{#if Topics}}
<div class="notes">
  <div class="addNote">
    <div>
      <h3 class="addNoteTitle">Add A New Note</h3>
    </div>
    <form action="/notes" method="post">
      <h3>Choose a Topic</h3>
      <select name="topic_id" required>
        <option value="" disabled selected>Choose A Topic</option>
        {{#each Topics}}
        <option value="{{_id}}">{{title}}</option>
        {{/each}}
      </select>
      <hr>
      <div class="addNoteField">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required>
      </div>
      <div class="addNoteField">
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" required>
      </div>
      <div class="lectureDate">
        <label for="dateTaught">When Was This Subject Taught?</label>
        <input type="date" name="dateTaught" id="date_taught">
      </div>
      <div class="textAreaContainer">
        <textarea id="body" name="note_body" class="textArea" required>{{{note.body}}}</textarea>
      </div>
      <input type="submit" class="noteBtn" value="Post Note">
    </form>
  </div>
</div>
{{/if}}
