<div class="container">

  <div class="note_details">

    {{{note.body}}}

  </div>

</div>

{{#if user}}

<form action="/comments/add" method="post">
<div class="comment_group_input">
  <div class="input_area">

  <textarea name="comment_body" id="comment_body" placeholder="Add comment" class="materialize-textarea" required></textarea>
  </div>
  <div class="btn_area">
  <input type="hidden" name="note_id" value="{{note._id}}">
  <input type="submit" value="Post Comment">
  </div>
</div>
</form>
{{/if}}

{{#if comments}}
{{#each comments}}
<p>
<strong>{{user.firstName}}: </strong>{{comment}}
</p>
{{#if is_editable}}
<a href="/comments/edit/{{_id}}" class="btn" >edit comment</a>
{{/if}}

{{/each}}
{{/if}}