<link rel="stylesheet" type="text/css" href="/css/addNew.css">

<div class="notes">
  <div class="addNote">
    <div>
      <h3 class="addNoteTitle">Edit Note</h3>
    </div>

    <form action="/notes/{{note.id}}?_method=PUT" method="post">
      <div class="topic">
        <select name="topic_id" required>
          {{#select note.topic}}
          <option value="{{note.topic.id}}" selected>{{topicTitle}}</option>
          {{#each topicsArray}}
          <option value="{{_id}}">{{title}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      <hr>
      <div class="addNoteField">
        <label for="title">Title:</label>
        <input value="{{note.title}}" type="text" name="title" id="title" required>
      </div>

      <div class="addNoteField">
        <label for="description">Description:</label>
        <input value="{{note.description}}" type="text" name="description" id="description" required>
      </div>
      <div class="lectureDate">
        <label for="dateTaught">When Was This Subject Taught?</label>
        <input value="{{formatDate note.dateTaught 'YYYY-MM-DD'}}" type="date" name="dateTaught" id="date_taught">
      </div>

      <div class="textAreaContainer">
        <textarea id="body" name="note_body" class="textArea" required>{{{note.body}}}</textarea>
      </div>

      <input type="submit" class="noteBtn" value="Post Note">
    </form>
  </div>
</div>
