<section>
  {{#each Notes}}
  <div class="notes">
    <div class="noteCardContainer">
      <div class="noteCard">
        <div>
          <h3 class="noteCardTitle">{{title}}</h3>
        </div>

        <div class="noteCardContent">
          <p><b>Category:</b> {{topic.category.title}} | <b>Topic:</b> {{topic.title}}</p>
          <p><b>Description:</b> {{description}}</p>
          <p><b>Author</b> {{user.firstName}} {{user.lastName}}</p>
        </div>
        <hr>
        <div class="noteCardAction">
          <a href="/notes/detail/{{_id}}">Read More</a>
        </div>
      </div>
    </div>
  </div>
{{/each}}
</section>
