<section>
  <div class="notes">
    <!-- <h2 class="userMessage1">Your Notes</h2> -->
    <a href="/notes/add"><button class="addBtn" >Add A Note</button></a>

    {{#each Notes}}
    <div class="noteCardContainer">

      <div class="noteCard">
        <h3 class="noteCardTitle">{{title}}</h3>
        <div class="noteCardContent">                   <p><b>Category:</b> {{topic.category.title}} | <b>Topic:</b> {{topic.title}}</p>
          <p><b>Description:</b> {{description}}</p>
          <p><b>Author:</b> {{user.firstName}}  {{user.lastName}}</p>
        </div>
        <hr>
        <div class="noteCardAction">
          <a href="/notes/detail/{{_id}}">Read More</a>
          <a href="/notes/edit/{{id}}"><button class="noteBtn">Edit Note</button></a>
          <a href="/notes/delete/{{id}}"><button class="noteBtn">Delete Note</button></a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>
