

<form action="/notes/{{note.id}}?_method=PUT" method="post">
  <div class="input-field col s12">
    <select name="topic_id" required>
      {{#select note.topic}}
      <option value="{{note.topic.id}}" selected>{{topicTitle}}</option>
      {{#each topicsArray}}
      <option value="{{_id}}">{{title}}</option>
      {{/each}}
      {{/select}}
    </select>
    <div class="row">
      <div class="input-field col s12">
        <input id="title" type="text" class="validate" name="title" required value={{note.title}}>
        <label for="title">Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="description" type="text" class="validate" name="description" required value="{{note.description}}">
        <label for="description">Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="date" name="date_taught" id="date_taught" value="{{formatDate note.dateTaught 'YYYY-MM-DD'}}">
        <label for="date_taught">When was this taught?</label>
      </div>

    </div>
    <div class="row">

      <div class="input-field col s12">
        <textarea id="body" name="note_body" class="materialize-textarea" required>{{{note.body}}}</textarea>
      </div>
    </div>
    <input type="submit" value="Post Note" class="btn teal">
</form>

